/.gradle/
/.idea/
/build/
/run_client/
/run_server/
/neoforge/runs/
/fabric/run_client/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/neoforge/.gradle/
/neoforge/build/
/forge/.gradle/
/forge/build/
/fabric/jar_output/
/fabric/config.txt
/fabric/launcher.exe
/forge/jar_output/
/forge/launcher.exe
/forge/config.txt
